{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (vars.api_name + '/Api')|start_of_file -}}
{{- ios.file_header('Api.h') }}
#import <Foundation/Foundation.h>

{% for definition_name, definition in swagger.definitions.iteritems() if definition.type == 'object' -%}
@class {{ definition_name }}Model;
{% endfor %}

@interface Api: NSObject
{% for operation_name, operation in operations.iteritems() %}
{{ operation|objc_method_signature }};
{% endfor %}
@end