{% import 'variables.jinja' as vars with context %}
{% import 'variables-android.jinja' as android with context %}
{% for definition_name, definition in swagger.definitions.iteritems() %}
{% set class_name = (definition_name|pascal_case)%}
{{ (android.main_path + '/datamodel/' + class_name)|start_of_file -}}
package {{ android.package_root_name }}.datamodel;
{{- android.file_header(definition_name) }}
import com.squareup.moshi.Json;

import org.threeten.bp.OffsetDateTime;

import java.util.ArrayList;

public class {{ class_name }} {
    {% if 'properties' in definition %}
    {% for property_name, property in definition.properties.iteritems() -%}
    @Json(name = "{{ property_name }}")
    private {{ property|android_property_type }} {{ property_name|camel_case }};
    {% endfor %}
    {% for property_name, property in definition.properties.iteritems() -%}
    public {{ property|android_property_type }} get{{ property_name|pascal_case }}() {
        return {{ property_name|camel_case }};
    }
    
    {% endfor -%}
    {% for property_name, property in definition.properties.iteritems() -%}
    public void set{{ property_name|pascal_case }}({{ property|android_property_type }} {{ property_name|camel_case }}) {
        this.{{ property_name|camel_case }} = {{ property_name|camel_case }};
    }
    
    {% endfor -%}
    {%- endif %}
}
{% endfor %}