{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (ios.project_name + '/' + class_prefix + 'JSONable')|start_of_file -}}
{{- ios.file_header(class_prefix + 'JSONable.h') }}
#import <Foundation/Foundation.h>

@protocol {{ class_prefix }}JSONable <NSObject>

- (id<{{ class_prefix }}JSONable>)toJSON;
+ (instancetype)fromJSON:(id<{{ class_prefix }}JSONable>)json;

@end

@interface NSDictionary ({{ class_prefix }}JSONable) <{{ class_prefix }}JSONable> @end
@interface NSArray ({{ class_prefix }}JSONable) <{{ class_prefix }}JSONable> @end
@interface NSString ({{ class_prefix }}JSONable) <{{ class_prefix }}JSONable> @end
@interface NSNumber ({{ class_prefix }}JSONable) <{{ class_prefix }}JSONable> @end
@interface NSURL (AECPJSONable) <AECPJSONable> @end
@interface NSData (AECPJSONable) <AECPJSONable> @end

@interface NSDate ({{ class_prefix }}JSONable) <{{ class_prefix }}JSONable>

- (id<{{ class_prefix }}JSONable>)toJSONWithFormat:(NSString*)format;
+ (instancetype)fromJSON:(id<{{ class_prefix }}JSONable>)json withFormat:(NSString*)format;

@end