{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (vars.api_name + '/NSDate+' + class_prefix + 'ISO8601')|start_of_file -}}
//
//  NSDate+ISO8601.h
//  Project
//
//  Created by Sandy Chapman on 5/9/16.
//
//

#import <Foundation/Foundation.h>

@interface NSDate ({{ class_prefix }}ISO8601)

@property (nonatomic, copy, readonly) NSString *{{ class_prefix }}_iso8601;
+ (NSDate*){{ class_prefix }}_dateWithISO8601String:(NSString*)iso8601;

@end