{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (vars.api_name + '/NSDate+' + class_prefix + 'ISO8601')|start_of_file -}}
//
//  NSDate+ISO8601.m
//  Project
//
//  Created by Sandy Chapman on 5/9/16.
//
//

#import "NSDate+{{ class_prefix }}ISO8601.h"

@implementation NSDate ({{ class_prefix }}ISO8601)

+ (NSDateFormatter*){{ class_prefix }}_iso8601Formatter
{
    static NSDateFormatter *dateFormatter;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        dateFormatter = [[NSDateFormatter alloc] init];
        NSLocale *enUSPOSIXLocale = [NSLocale localeWithLocaleIdentifier:@"en_US_POSIX"];
        [dateFormatter setLocale:enUSPOSIXLocale];
        [dateFormatter setTimeZone:[NSTimeZone timeZoneWithAbbreviation:@"UTC"]];
        [dateFormatter setDateFormat:@"yyyy-MM-dd'T'HH:mm:ssZZZZZ"];
    });
    return dateFormatter;
}

- (NSString*){{ class_prefix }}_iso8601
{
    return [self.class.{{ class_prefix }}_iso8601Formatter stringFromDate:self];
}

+ (NSDate*){{ class_prefix }}_dateWithISO8601String:(NSString*)iso8601
{
    return [self.class.{{ class_prefix }}_iso8601Formatter dateFromString:iso8601];
}

@end