{% import 'variables-android.jinja' as android with context %}
{% import 'variables.jinja' as vars with context %}
{{ (android.test_path + '/AccountServiceTest')|start_of_file -}}

package com.lixar.athena;

import org.junit.Before;
import org.junit.Test;

import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertNotEquals;
import static org.junit.Assert.assertNotNull;

/**
 * Created by pzhou on 2016-05-16.
 */
public class AccountServiceTest extends RestTest{
    private final static String TAG = "AccountServiceTest";
    @Before
    public void setUp() throws Exception{
        super.setUp();
    }
    @Test
    public  void dummy() {
        assertEquals(true, true);
    }
}
