{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (vars.api_name + '/' + class_prefix + 'ViewController')|start_of_file -}}
{{- ios.file_header(class_prefix + 'ViewController.h') }}
#import <UIKit/UIKit.h>

@interface {{ class_prefix }}ViewController : UIViewController

@end

