{# Produces the set of all controllers in the swagger file. #}
{% set controllers = [] %}
{% for operation_name, operation in operations.iteritems() %}
{% do controllers.append(operation|controller_name) %}
{% endfor %}
{% set controllers = controllers|unique %}
{% do controllers.append('giant') %}

{# Base project name #}
{% set api_name = swagger.info.title|replace(' ', '') %}