{% import 'variables.jinja' as vars with context %}
{% import 'variables-ios.jinja' as ios with context %}
{{ (ios.project_name + '/DataModel.xcdatamodeld/DataModel.xcdatamodel/contents')|start_of_file -}}
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model userDefinedModelVersionIdentifier="" type="com.apple.IDECoreDataModeler.DataModel" documentVersion="1.0" lastSavedToolsVersion="10171" systemVersion="15C50" minimumToolsVersion="Automatic">
    {% for definition_name, definition in swagger.definitions.iteritems() if definition.type == 'object' %}
    <entity name="{{ definition_name }}" syncable="YES">
        {% if 'properties' in definition or 'allOf' in definition %}
        {% for property_name, property in definition|definition_properties if (property|get_property).type != 'array' and (property|get_property).type != 'object' %}
        <attribute name="{{- property_name }}" optional="{{ definition|ios_attribute_optional(property_name) }}" attributeType="{{ property|ios_datamodel_attribute_type }}" syncable="YES"/>
        {%- endfor %}
        {% endif %}
    </entity>
    {%- endfor %}
</model>