{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (vars.api_name + '/RealmPrimitives')|start_of_file -}}
{{- ios.file_header('RealmPrimitives.h') }}

#import <Foundation/Foundation.h>
#import <Realm/Realm.h>
#import "JSONable.h"

@interface RealmString : RLMObject

@property (nonatomic, copy) NSString* value;

@end

@interface RealmInteger : RLMObject

@property (nonatomic, strong) NSNumber<RLMInt>* value;

@end

@interface RealmDouble : RLMObject

@property (nonatomic, strong) NSNumber<RLMDouble>* value;

@end

@interface RealmFloat : RLMObject

@property (nonatomic, strong) NSNumber<RLMFloat>* value;

@end

@interface RealmBool : RLMObject

@property (nonatomic, strong) NSNumber<RLMBool>* value;

@end

@interface RealmDate : RLMObject

@property (nonatomic, strong) NSDate* value;

@end

@interface RealmData : RLMObject

@property (nonatomic, copy) NSData* value;

@end

@interface RealmString (JSONable) <JSONable> @end
@interface RealmInteger (JSONable) <JSONable> @end
@interface RealmFloat (JSONable) <JSONable> @end
@interface RealmDouble (JSONable) <JSONable> @end
@interface RealmBool (JSONable) <JSONable> @end
@interface RealmDate (JSONable) <JSONable> @end
@interface RLMArray (JSONable) <JSONable> @end

RLM_ARRAY_TYPE(RealmString)
RLM_ARRAY_TYPE(RealmInteger)
RLM_ARRAY_TYPE(RealmFloat)
RLM_ARRAY_TYPE(RealmDouble)
RLM_ARRAY_TYPE(RealmBool)
RLM_ARRAY_TYPE(RealmDate)
RLM_ARRAY_TYPE(RealmData)