{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{%- for operation_name, operation in operations.iteritems() -%}
{%- set class_name = class_prefix + (operation_name|pascal_case) + 'OperationBuilder' -%}
{{ (vars.api_name + '/Operations/' + class_name)|start_of_file -}}
{{- ios.file_header(class_name+'.m') }}

#import "{{ class_name }}.h"
#import "{{ class_name[:-7] }}.h"

{%- set body_params = operation|parameters_in('body') %}
{% if body_params|length > 0 %}
@class {{ (body_params|first|parameter_type(class_prefix))[:-2] }};
{% endif %}
@implementation {{ class_name }}: NSObject

- ({{ class_name[:-7] }} *)build {
    //! \todo Validate required parameters here.
    return [[{{ class_name[:-7] }} alloc] initWithBuilder:self];
}

- (id)copyWithZone:(nullable NSZone *)zone
{
  {{ class_name }}* copy = [[self class] new];
  {% if operation.parameters is not undefined %}
  {% for param in operation.parameters -%}
  copy.{{ (param|get_parameter).name|camel_case }} = self.{{ (param|get_parameter).name|camel_case }};
  {% endfor %}
  {%- endif %}
  return copy;
}

@end
{%- endfor -%}