{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{%- set class_name = class_prefix + 'OperationBuilder' -%}
{{ (ios.project_name + '/Operations/' + class_name)|start_of_file -}}
{{- ios.file_header(class_name + '.h') }}

#import <Foundation/Foundation.h>

@class {{ class_prefix }}Operation;

@protocol {{ class_name }} <NSCopying, NSObject>

@required
- ({{ class_prefix }}Operation *)build;

@property (nonatomic, copy, readonly) NSDictionary* customHeaders;

@end

{%- for operation_name, operation in operations.iteritems() -%}
{%- set class_name = class_prefix + (operation_name|pascal_case) + 'OperationBuilder' -%}
{{ (ios.project_name + '/Operations/' + class_name)|start_of_file -}}
{{- ios.file_header(class_name+'.h') }}
#import "{{ class_prefix }}OperationBuilder.h"

@class {{ class_name[:-7] }};

{%- set body_params = operation|parameters_in('body') %}
{%- if body_params|length > 0 %}
@class {{ (body_params|first|parameter_type(class_prefix))[:-2] }};
{%- endif %}

@interface {{ class_name }}: NSObject <{{ class_prefix }}OperationBuilder>

- ({{ class_name[:-7] }} *)build;
{%- for param in operation.parameters if 'x-giant-ignore' not in param %}
{{ param|objc_property(class_prefix) }}
{%- endfor %}
@property (nonatomic, copy) NSDictionary* customHeaders;
{%- if (operation|response_schema).type == 'file' %}
@property (nonatomic, copy) NSURL* filepath;
{% endif %}
@end
{%- endfor -%}