{% import 'variables-ios.jinja' as ios with context %}
{% import 'variables.jinja' as vars with context %}
{{ (ios.project_name + '/Operations/' + class_prefix + 'Operation')|start_of_file -}}
{{- ios.file_header(class_prefix + 'OperationBuilder.h') }}

#import "{{ class_prefix }}Operation.h"
#import <AFNetworking/AFNetworking.h>
#import "{{ class_prefix }}JSONable.h"

@interface {{ class_prefix }}Operation ()

@property (atomic, strong) NSURLSessionDataTask *task;
@property (nonatomic, getter = isFinished, readwrite)  BOOL finished;
@property (nonatomic, getter = isExecuting, readwrite) BOOL executing;

@end

@implementation {{ class_prefix }}Operation

@synthesize finished  = _finished;
@synthesize executing = _executing;

- (instancetype)init
{
    if((self = [super init]) == nil) return nil;
    
    _finished  = NO;
    _executing = NO;
    
    return self;
}

- (void)setupDataTask
{
    AFHTTPRequestSerializer *serializer;
    id parameters;
    if(self.consumesJSON) {
        serializer = self.class.jsonSerializer;
        id<{{ class_prefix }}JSONable> jsonable = self.parameters;
        parameters = [jsonable toJSON];
    }
    else {
        serializer = self.class.httpSerializer;
        parameters = self.parameters;
    }
    
    AFHTTPSessionManager* sessionManager = self.class.httpSessionManager;
    NSString* URLString = [NSURL URLWithString:self.URLString relativeToURL:sessionManager.baseURL].absoluteString;
    
    NSError *error;
    
    NSMutableURLRequest *request;
    if(self.isMultipart) {
        request = [serializer
         multipartFormRequestWithMethod:self.method
         URLString:URLString
         parameters:parameters
         constructingBodyWithBlock:^(id<AFMultipartFormData>  _Nonnull formData) {
             //! \todo:: Implement this
         }
         error:&error];
    }
    else {
        request = [serializer
         requestWithMethod:self.method
         URLString:URLString
         parameters:parameters
         error:&error];
    }
    
    if(self.consumesJSON) {
        [request setValue:@"application/json" forHTTPHeaderField:@"Content-Type"];
    }
    
    for(NSString* key in *self.class.defaultHeaders) {
        [request setValue:(*self.class.defaultHeaders)[key] forHTTPHeaderField:key];
    }
    
    if(self.headers != nil) {
        for(NSString* key in self.headers) {
            [request setValue:self.headers[key] forHTTPHeaderField:key];
        }
    }
    
    __weak {{ class_prefix }}Operation* weakSelf = self;
    
    if(self.securityDefinition != nil) {
        [request setValue:self.class.apiKeys[self.securityDefinition] forHTTPHeaderField:@"Authorization"];
    }
    
    self.task = [sessionManager
     dataTaskWithRequest:request
     completionHandler:^(NSURLResponse * _Nonnull response, id  _Nullable responseObject, NSError * _Nullable error) {
         NSLog(@"Response: %@", response);
         NSLog(@"ResponseObject: %@", responseObject);
         NSLog(@"Error: %@", error);
         weakSelf.error = error;
         weakSelf.response = response;
         if(error != nil) {
             weakSelf.errorResponseObject = responseObject; // This will parse if needed.
         }
         else {
             weakSelf.responseObject = responseObject; // This will parse if needed.
         }
         [weakSelf completeOperation];
     }];
}

+ (AFHTTPSessionManager*)httpSessionManager
{
    static AFHTTPSessionManager* client = nil;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        client = [[AFHTTPSessionManager alloc] initWithBaseURL:[NSURL URLWithString:@"{{ swagger.schemes[0] }}://{{ swagger.host }}"]];
    });
    return client;
}

+ (AFHTTPRequestSerializer*)jsonSerializer
{
    
    static AFJSONRequestSerializer* serializer = nil;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        serializer = [AFJSONRequestSerializer serializer];
    });
    //! \todo Set defaults for this serializer.
    return serializer;
}

+ (AFHTTPRequestSerializer*)httpSerializer
{
    
    static AFHTTPRequestSerializer* serializer = nil;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        serializer = [AFHTTPRequestSerializer serializer];
    });
    //! \todo Set defaults for this serializer.
    return serializer;
}

+ (NSMutableDictionary*)apiKeys
{
    static NSMutableDictionary* keys = nil;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        keys = [NSMutableDictionary dictionary];
    });
    return keys;
}

+ (void)setApiKey:(NSString*)token forSecurityDefinition:(NSString*)securityName
{
    self.apiKeys[securityName] = token;
}

+ (void)setHeaderValue:(NSString*)value forHeader:(NSString*)header
{
    (*self.defaultHeaders)[header] = value;
}

+ (NSMutableDictionary* __strong *)defaultHeaders
{
    static NSMutableDictionary* dict = nil;
    static dispatch_once_t onceToken;
    dispatch_once(&onceToken, ^{
        dict = [NSMutableDictionary dictionary];
    });
    return &dict;
}

+ (instancetype)operationWithBuilderBlock:(void(^)(id<{{ class_prefix }}OperationBuilder> *builder))builderBlock
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (NSString*)method
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (NSString*)URLString
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (NSDictionary*)headers
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (id)parameters
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (BOOL)consumesJSON
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (BOOL)isMultipart
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (NSString*)securityDefinition
{
    [[NSException exceptionWithName:@"GiantError" reason:@"Operation cannot be instantiated directly. Use an Operation subclass." userInfo:@{}] raise];
    return nil;
}

- (void)start {
    if ([self isCancelled]) {
        self.finished = YES;
        return;
    }
    self.executing = YES;
    [self main];
}

- (void)main {
    [self.task resume];
}

- (void)cancel {
    [self.task cancel];
    [super cancel];
}
             
- (void)completeOperation {
    self.task = nil;
    self.executing = NO;
    self.finished  = YES;
}

#pragma mark - NSOperation methods

- (BOOL)isAsynchronous {
    return YES;
}

- (BOOL)isExecuting {
    @synchronized(self) {
        return _executing;
    }
}

- (BOOL)isFinished {
    @synchronized(self) {
        return _finished;
    }
}

- (void)setExecuting:(BOOL)executing {
    if (_executing != executing) {
        [self willChangeValueForKey:@"isExecuting"];
        @synchronized(self) {
            _executing = executing;
        }
        [self didChangeValueForKey:@"isExecuting"];
    }
}

- (void)setFinished:(BOOL)finished {
    [self willChangeValueForKey:@"isFinished"];
    @synchronized(self) {
        if (_finished != finished) {
            _finished = finished;
        }
    }
    [self didChangeValueForKey:@"isFinished"];
}

@end

{%- for operation_name, operation in operations.iteritems() -%}
{%- set class_name = class_prefix + (operation_name|pascal_case) + 'Operation' -%}
{{ (ios.project_name + '/Operations/' + class_name)|start_of_file -}}
{{- ios.file_header(class_name+'.m') }}

#import "{{ class_name }}.h"
#import "{{ class_name }}Builder.h"
#import <AFNetworking/AFNetworking.h>
{%- set response_import = operation|response_type_import(class_prefix) -%}
{%- if response_import != '' %}
{{ response_import }}
{%- endif %}
{%- set error_response_import = operation|error_response_type_import(class_prefix) -%}
{%- if error_response_import != '' %}
{{ error_response_import }}
{%- endif %}

@interface {{ class_name }} ()

@property (nonatomic, copy) {{ class_name }}Builder *builder;

@end

@implementation {{ class_name }} 

{%- if (operation|response_type(class_prefix)) != '' %}

@dynamic responseObject;

- (void)setResponseObject:(id)responseObject
{
    {%- if (operation|response_schema).type == 'array' %}
    NSMutableArray* objects = [NSMutableArray array];
    for(id<{{ class_prefix }}JSONable> jsonable in responseObject) {
        [objects addObject:[{{ (operation|response_schema|array_definition_items_type(class_prefix))[:-2] }} fromJSON:jsonable]];
    }
    [super setResponseObject:[objects copy]];
    {% else %}
    [super setResponseObject:[{{ (operation|response_type(class_prefix))[:-2] }} fromJSON:responseObject]];
    {%- endif %}
}
{%- endif %}

{%- if (operation|error_response_type(class_prefix)) != '' %}

@dynamic errorResponseObject;

- (void)setErrorResponseObject:(id)errorResponseObject
{
    {%- if (operation|error_response_schema).type == 'array' %}
    NSMutableArray* objects = [NSMutableArray array];
    for(id<{{ class_prefix }}JSONable> jsonable in errorResponseObject) {
        [objects addObject:[{{ (operation|error_response_schema|array_definition_items_type(class_prefix))[:-2] }} fromJSON:jsonable]];
    }
    [super setErrorResponseObject:[objects copy]];
    {% else %}
    [super setErrorResponseObject:[{{ (operation|error_response_type(class_prefix))[:-2] }} fromJSON:errorResponseObject]];
    {%- endif %}
}
{%- endif %}

+ (instancetype)operationWithBuilderBlock:(void(^)({{ class_name }}Builder *builder))builderBlock
{
    {{ class_name }}Builder *builder = [{{ class_name }}Builder new];
    builderBlock(builder);
    return [builder build];
}

- (instancetype)initWithBuilder:({{ class_name }}Builder *)builder
{
    if((self = [super init]) == nil) return nil;
    
    _builder = [builder copy];
    [self setupDataTask];
    
    return self;
}

- (NSString*)method
{
    return @"{{ operation.method|upper }}";
}

- (NSString*)URLString
{
    NSString* URLString = @"{{ swagger.basePath|remove_trailing_slash }}{{ operation.path_name }}";
    {% for param in operation|parameters_in('path') -%}
    {%- set varname = 'self.builder.' + param.name|camel_case|objc_varname -%}
    URLString = [URLString stringByReplacingOccurrencesOfString:@"{{ '{' + param.name + '}'}}" withString:{{ param|type_to_string(varname) }}];
    {%- endfor %}
    return URLString;
}

- (NSDictionary*)headers
{
    {%- set header_params = operation|parameters_in('header') %}
    return @{
    {%- for param in header_params %}
        @"{{ param.name }}": self.builder.{{ param.name|camel_case }},
    {% endfor -%}
    };
}

- (id)parameters
{
    {%- set body_params = operation|parameters_in('body') %}
    {%- set form_params = operation|parameters_in('formData') %}
    {%- if body_params|length > 0 %}
    return self.builder.{{ (body_params|first).name|camel_case }};
    {%- elif form_params|length > 0 %}
    return @{
    {%- for param in form_params %}
        @"{{ param.name }}": self.builder.{{ param.name|camel_case }} ? self.builder.{{ param.name|camel_case }} : [NSNull null],{% endfor %}
    };
    {%- else %}
    return nil;
    {%- endif %}
}

- (BOOL)consumesJSON
{
    {% if 'application/json' in operation.consumes -%}
    return YES;
    {%- else -%}
    return NO;
    {%- endif %}
}

- (BOOL)isMultipart
{
    {% if 'multipart/form-data' in operation.consumes -%}
    return YES;
    {%- else -%}
    return NO;
    {%- endif %}
}

- (NSString*)securityDefinition
{
    {% if operation.security|length > 0 -%}
    return @"{{ operation.security[0].keys()[0] }}";
    {%- else -%}
    return nil;
    {%- endif %}
}

@end
{% endfor %}