{% import 'variables.jinja' as vars with context %}
{% import 'variables-ios.jinja' as ios with context %}
{% for definition_name, definition in swagger.definitions.iteritems() if definition.type == 'object' %}
{%- set class_name = class_prefix+definition_name -%}
{% set filename = vars.api_name + '/Models/' + class_name %}
{{ filename|start_of_file -}}
{{- ios.file_header(class_name) }}

#import "{{ class_name }}.h"
{%- if 'properties' in definition %}
{%- for property_name, property in definition.properties.iteritems() %}
{%- if property.type == 'array' and '$ref' in property['items'] %}
#import "{{ (property|array_definition_items_type)[:-2] }}.h"
{%- elif (property.type == 'object' or 'type' not in property) and 'properties' in property %}
#import "{{ (property|property_type)[:-2] }}.h"
{%- endif %}
{%- endfor -%}
{%- endif %}

@implementation {{ class_name }}
{%- if 'properties' in definition %}
{%- for property_name, property in definition.properties.iteritems() %}
{%- if 'enum' in property and property.type == 'string' %}
{% for enum in property.enum %}
NSString * const {{ class_name }}{{ property_name|pascal_case }}{{ enum|pascal_case }} = @"{{ enum }}";
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}

- (NSDictionary*)toJSON
{
    return @{
      {%- if 'properties' in definition -%}
      {%- for property_name, property in definition.properties.iteritems() %}
      @"{{ property_name }}": [self.{{ property_name|camel_case|objc_varname }} toJSON],
      {%- endfor -%}
      {%- endif %}
    };
}

+ (instancetype)fromJSON:(id<{{ class_prefix }}JSONable>)json
{
    {{ class_name }} *model = [self new];
    {%- if 'properties' in definition -%}
    {%- for property_name, property in definition.properties.iteritems() %}
    {%- if property.type == 'array' %}
    model.{{ property_name|camel_case|objc_varname }} = ^{
        NSArray* array = json[@"{{ property_name }}"];
        NSMutableArray* items = [NSMutableArray array];
        for(id<{{ class_prefix }}JSONable> jsonable in array) {
            [items addObject:[{{ (property|array_definition_items_type)[:-2] }} fromJSON:.jsonable]];
        }
        return [items copy];
    }();
    {%- else %}
    model.{{ property_name|camel_case|objc_varname }} = [{{ (property|property_type)[:-2] }} fromJSON:json[@"{{ property_name }}"]];
    {%- endif %}
    {%- endfor -%}
    {%- endif %}
    return model;
}
{% if 'x-primary-key' in definition %}
+ (NSString *)primaryKey
{
    return @"{{ definition['x-primary-key']|camel_case|objc_varname }}";
}
{% endif %}
@end
{%- endfor %}