{% import 'variables.jinja' as vars with context %}
{% import 'variables-ios.jinja' as ios with context %}
{% for definition_name, definition in swagger.definitions.iteritems() if definition.type == 'object' %}
{{ (vars.api_name + '/Models/' + definition_name)|start_of_file -}}
{{- ios.file_header(definition_name) }}
#import <Foundation/Foundation.h>
#import "JSONable.h"
{% if 'x-persist' in definition and definition['x-persist'] -%}
#import <Realm/Realm.h>
#import "RealmPrimitives.h"
{%- for property_name, property in definition.properties.iteritems() -%}
{%- set prop_import = property|realm_property_import -%}
{%- if prop_import is not none %}
{{ prop_import }}
{%- endif -%}
{%- endfor -%}
{%- endif %}
{%- if 'properties' in definition -%}
{%- for property_name, property in definition.properties.iteritems() %}
{%- if 'enum' in property and property.type == 'string' %}

typedef enum : NSUInteger {
    {%- for enum in property.enum %}
    {{ definition_name }}{{ property_name|pascal_case }}{{ enum|pascal_case }},
    {%- endfor %}
} {{ definition_name }}{{ property_name|pascal_case }};
{% endif -%}
{%- endfor %}
{% endif %}
@interface {{ definition_name }}: {{ definition|model_base_type }} <JSONable>
{% if 'properties' in definition %}
{%- for property_name, property in definition.properties.iteritems() %}
@property (nonatomic, strong) {{ property|property_type }} {{ property_name|camel_case|objc_varname }};
{%- if 'enum' in property and property.type == 'string' %}
@property (nonatomic, assign) {{ definition_name }}{{ property_name|pascal_case }} {{ (definition_name + property_name|pascal_case)|camel_case|objc_varname }};
{%- endif %}
{%- endfor %}
{%- endif %}

- (NSDictionary*)toJSON;

@end
{%- if 'x-persist' in definition and definition['x-persist'] %}
RLM_ARRAY_TYPE({{ definition_name }})
{%- endif -%}
{%- endfor %}